<!DOCTYPE html>
<html lang="en" dir="ltr">
    {{> head}}
    <body>
        {{> header}}

        <section id="wrapper" class="pt_home">
            <div>
                <h2>Compression - 60%</h2>
                <div class="twentytwenty-container-60 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/60/06_09_2018_hpv_unboxingnewcollection-60.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
            <div>
                <h2>Compression - 65%</h2>
                <div class="twentytwenty-container-65 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/65/06_09_2018_hpv_unboxingnewcollection-65.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
            <div>
                <h2>Compression - 70%</h2>
                <div class="twentytwenty-container-70 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/70/06_09_2018_hpv_unboxingnewcollection-70.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>

            <div>
                <h2>Compression - 75%</h2>
                <div class="twentytwenty-container-75 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/75/06_09_2018_hpv_unboxingnewcollection-75.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
            <div>
                <h2>Compression - 80%</h2>
                <div class="twentytwenty-container-80 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/80/06_09_2018_hpv_unboxingnewcollection-80.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
            <div>
                <h2>Compression - 85%</h2>
                <div class="twentytwenty-container-85 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/85/06_09_2018_hpv_unboxingnewcollection-85.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
            <div>
                <h2>Compression - 90%</h2>
                <div class="twentytwenty-container-90 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/90/06_09_2018_hpv_unboxingnewcollection-90.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
            <div>
                <h2>Compression - 95%</h2>
                <div class="twentytwenty-container-95 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/95/06_09_2018_hpv_unboxingnewcollection-95.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
            <div>
                <h2>Compression - 100%</h2>
                <div class="twentytwenty-container-100 twentytwenty-container">
                    <!-- Compress Image -->
                    <img src="images/_SECTION-4/100/06_09_2018_hpv_unboxingnewcollection-100.jpg" alt="">
                    <!-- Original Image -->
                    <img src="images/_SECTION-4/_ORIGINAL/06_09_2018_hpv_unboxingnewcollection.jpg" alt="">
                </div>
            </div>
        </section>

        {{> footer}}
    </body>
</html>
