/* Global CSS */
ul {
    padding-left: 0;
}

li {
    list-style: none;
    display: inline-block;
}

#wrapper {
    max-width: 90%;
    margin: 0 auto;
}

#wrapper div {
    margin-bottom: 30px;
}

.twentytwenty-before-label, .twentytwenty-after-label {
    opacity: 1
}

.twentytwenty-overlay:hover {
    background: transparent;
}

/* Mobile CSS */
@media only screen and (max-width: 767px) {}

/* Tablet CSS */
@media only screen and (min-width: 768px) {}

/* Desktop CSS */
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1025px) {}

/* XL Desktop CSS */
@media only screen and (min-width: 1441px) {}
